{% raw %}
---
# http://pandoc.org/
title: "Report `meerkat-pol`"
author: IDIA pipeline
date: \today\space{% endraw %}-- {{timestamp}} {% raw %}
geometry: "left=2.3cm,right=2.3cm,top=1.8cm,bottom=1.8cm"
output: pdf_document
lang: en
toc: true
numbersections: true
highlight-style: tango
#fontfamily: Latin Modern
fontfamily: lmodern
monofont: DejaVuSansMono.ttf 
#fontfamilyoptions: sfdefault

# load latex packages
header-includes:
    - \tracingmacros=1 
    - \usepackage{lmodern}
    - \usepackage{float}
    - \floatplacement{figure}{H}
    - \usepackage[skip=2pt,font={small,sf},labelfont=bf,justification=justified]{caption}
    - \DeclareCaptionLabelSeparator{bar}{ | }
    - \captionsetup[wrapfigure]{name=Fig.}
    - \captionsetup[figure]{name=Fig.}
    - \captionsetup{skip=2pt,labelsep=bar,font={small,sf},labelfont={small,sf,bf},justification=justified}
    - \renewcommand{\texttt}[1]{ {\ttfamily\color{teal}#1} }
    - \usepackage{hyperref}
    - \usepackage{datetime}
    - \usepackage{xkeyval}
    - \usepackage{xcolor}
    - \usepackage[12h=false]{scrtime}
    - \usepackage{fvextra}
    - \renewcommand{\NormalTok}[1]{\FancyVerbBreakStart#1\FancyVerbBreakStop}
    - \DefineVerbatimEnvironment{Highlighting}{Verbatim}{breaklines,breakanywhere,commandchars=\\\{\},numbers=left}
    - \usepackage{lastpage}
    - \usepackage{fancyhdr}
{% endraw %}    - \fancyhead[L]{\texttt{meerkat-pol}\text{:} {{ conf.input.basename }} }{% raw %}
    - \fancyhead[R]{}
    - \fancyfoot[L]{\today\space -- \thistime}
    - \fancyfoot[C]{}
    - \fancyfoot[R]{ {\textbf\thepage}\space | \pageref{LastPage} }
    - \pagestyle{fancy}
    - \fancypagestyle{plain}{\pagestyle{fancy}\fancyfoot[L]{} }
    - \renewcommand{\familydefault}{\sfdefault}
    - \sffamily
---

{% endraw %}

Summary
=======
The `meerkat-pol` cube pipeline finished successfully for cube:
**{{ conf.input.basename }}** . For the frequency ranges 
**{{ conf.input.freqRanges | join('`, `') }} MHz**
at a channel width
**{{ conf.input.outputChanBandwidth /1000000|round(2) }} MHz**
{{ chanStatsDict['predicted'] }} output channels are predicted.
{% if chanStatsDict['predicted'] > chanStatsDict['imaged'] -%}
Due to missing data within the specified frequency range only
{{ chanStatsDict['imaged'] }} channels contain image data.
{%- endif %}
{{ chanStatsDict['iorflagged'] }} channels are flagged due to high noise. The data cube contains 
**{{ chanStatsDict['unflagged'] }} unflagged channels**, which is
**{{ chanStatsDict['ratio'] }}%** of the predicted count.

A preview of the generated images is shown below.

![**Preview**: Full stokes image IQUV (left to right) for one channel. Automatic 
colorscale per image (not comparable). Corresponding file:
{{ conf.input.basename + conf.env.extCubeFits}}]({{ joinpath(conf.env.dirReport, conf.input.basename + conf.env.extCubePreviewJpg) }} )

{% if conf.input.smoothbeam  %}
![**Preview**: Weighted average maps Stokes I, scalar P and Stokev V.
Corresponding file: {{ conf.input.basename + conf.env.extCubeSmoothedFits}}]({{ joinpath(conf.env.dirReport, conf.input.basename + conf.env.extCubeAveragemapPreviewJpg) }} )
{% endif %}


Pipeline output files
=====================
This is the output second half of the command `meerkat-pol --status`. It shows
which of the output files were created successfully and which failed.

~~~~{.numberLines}
{{ status }}
~~~~

RMS Noise via Stokes V, Stokes I maximum and flagging
=====================================================
The plot below shows the RMS noise, estimated via the absolute median deviation,
derived from Stokes V. Very noisy channels are flagged by an iterative outlier
rejection.

![**RMS noise over frequency and iterative outlier rejection:** The RMS noise is
measured via the median Absolute deviation. The initial data is fitted with a
third order polynomial. All data below and above $8 \sigma$ is flagged. This
repeats until no new data gets rejected. This plot of the final iteration is
shown here.]({{ iorPlotFilePath }} )

![**Stokes I max over frequency:** Stokes I at the position of the brightest pixel in the
first valid channel.]({{ joinpath(conf.env.dirReport, conf.input.basename + conf.env.extCubeMaxStokesIPlotPdf) }} )

Input parameter
===============
This is the list of all user input parameters for this run of `meerkat-pol`.

~~~~{.numberLines}{%for key, value in conf.input.items()%}
{% if value == "" %}{{ key }} = "" {% else %}{{ key }} = {{ value }}{% endif %}{%endfor%}
~~~~


CASA listobs()
==============
This is the output short output of CASA's `listobs(..., verbose=False)`.
It shows observation details for input measurement sets.
{% for listobsFile in listobsOutputList %}
~~~~{.numberLines}
{{ listobsFile }}
~~~~
{% endfor %}

Runtime
=======
The `meerkat-pol` cube pipeline ran in {{ runtimeDict['humanAuto'] }} in wall time. The accumulated time on
all computer nodes is {{ runtimeDict['totalAuto'] }}. The following script are executed in sequential order:
`{{ conf.input.runScripts | join('`, `') }}`. Multiple instances of the same script
may be spawned in parallel.

![**Cube pipeline runtime:** The plot show the runtime for each slurm job colour-coded by python script.]({{ joinpath(conf.env.dirReport, conf.input.basename + conf.env.extRuntimePdf) }} "Caption")
